---
layout: default
---
<div class="main-index">
  <div class="about-intro">
      <h1>Hi, I'm Angela Velasquez</h1>
      <h4>UI and Graphic Designer</h4>
      <p> I'm currently based in Spain, with over 7 years of experience in the software development field.</p>
  </div>
  
    <div class="posts">

      <h1>Design Projects & Process</h1>
     
      {% for post in site.posts %}
         <article class="post">
            {%- if post.image -%}
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{- post.image | relative_url -}}" alt="" class="post-image"></a>
            {%- else -%}
              {%- assign postImage = "/assets/images/image-default.jpg" -%}
              <img src="{{- postImage | relative_url -}}" alt="" class="post-image">
            {%- endif -%}
            <div class="post-content">
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <p>{{ post.excerpt }}</p>
              <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </div>
          </article> 
      {% endfor %}

      <div class="contact-form post">
        <h1 id="CONTACT">Leave a message</h1>
        <p>If you are interested in my work send me a message.</p>
        {% include contact-form.html %}
      </div> 
 
     </div>
  
  
</div>
