---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $spaceGrotesk;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $spaceGrotesk;
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.button {
	display: flex;
    padding: 0.5rem 1.5rem;
    background: $blue;
    border-radius: 0.25rem;
    color: $white;
    width: fit-content;
    margin: 2rem auto;
	transition: all .4s ease-in-out;
	border: none;
    font-size: 1.2rem;
    font-family: 'Space Grotesk';
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button:hover {
	box-shadow: 0 0 50px rgba(0,0,0,.15);
	background: $blue-dark;
	color: white;
}

.button svg {
	height: 24px;
    display: inline-flex;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $spaceGrotesk;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $spaceGrotesk;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts {
	display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
	justify-content: center;
    align-items: stretch;
    border-top: 1px solid $lightGray;
    border-left: 1px solid $lightGray;
	margin: 2rem 0;
	
	@include mobile {
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	}
		
}

.posts > .post {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;	
  gap: 20px;
  border-bottom: 1px solid $lightGray;
  border-right: 1px solid $lightGray; 
  overflow: hidden;
	h1 {
		margin-top: .5rem;
	}
	.post-content {
		padding: 1rem 2rem;
	}
	.post-image {
		object-fit: cover;
		transition: all .25s ease-in-out;
	}
	&:hover .post-image {
		 transform: scale(1.05);
	}
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

.about-intro {
  max-width: 720px;
  margin: auto;
  h1, h4, p {
    text-align: center;
	  margin-top: 0.75rem;
  }
}

.posts-heading {
  max-width: 720px;
  margin: 3rem auto;
  h2, p {
    text-align: center;
  }	
}

.page {
	max-width: 940px;
	margin: auto;
}

.post-container {
max-width: 940px;
margin: auto;
  .entry {
	margin: auto;
	img {
		margin-top: 1.5rem;
	}
	p, ul {
	   	 margin: 1.5rem auto 1rem auto;	  
	  }	  
	h2, hr {
		margin-top: 2.5rem;
	}
  } 
}

.about-project {
	display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
	position: relative; 
	z-index: 1;
	flex-wrap: wrap;
	&:after {
		display: block; 
		content: "";
		z-index: -1;
		position: absolute; 
		width: 100%; 
		height: 100%; 
		top: 20px; 
		left: 20px; 
		background-color: #e5e5f7;
		opacity: 0.8;
		background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
		background-size: 10px 10px;
	}
	div {
		padding: 30px; 
		background: #FAFAFA;
	}
	.col-1 {
		width: 40%;
		.button {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.col-2 {
		width: 60%;
		ul {
			display: flex;
		    list-style: none;
		    margin: 0;
		    padding: 0;
			
		}
		li {
			width: 50%;
    		padding-right: 20px;
		}
		h5 {
			margin-bottom: 0.5rem;
		}
		p {
			margin-top: 0.5rem;
		}
	}
}

.main-index form {
	display: flex; 
	flex-direction: column; 
	gap: 1rem; 
	label {
		display: flex; 
		flex-direction: column; 
		input, textarea {
			padding: 1rem;
			border: 1px solid $gray;
		    font-family: $spaceGrotesk;
		    font-size: 1rem;
		    margin: .75rem 0;
		}
	}
}

.contact-form {
	width: 100%; 
	padding: 2rem;
}

.breadcumb-back--bottom {
	margin: 2.5rem auto;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
