
//
// VARIABLES
//

// Colors
$blue: #b80c4a;
$blue-dark: #740e32;
$plum: #b80c4a;


// Grays
$black: #070501;
$darkerGray: #070501;
$darkGray: #070501;
$gray: #666;
$lightGray: #eee7d9;
$white: #fff9ee;

// Font stacks
$helvetica: "DM Sans", sans-serif;
$helveticaNeue: "DM Sans", sans-serif;
$display: "DM Serif Display", serif;
$spaceGrotesk: "DM Sans", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
