
//
// VARIABLES
//

// Colors
$blue: #38318D;
$blue-dark: #27216B;
$plum: #38318D;


// Grays
$black: #070501;
$darkerGray: #070501;
$darkGray: #070501;
$gray: #666;
$lightGray: #eee7d9;
$white: #fff9ee;

// Font stacks
$helvetica: "DM Sans", sans-serif;
$helveticaNeue: "DM Sans", sans-serif;
$display: "DM Serif Display", serif;
$spaceGrotesk: "DM Sans", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
