---
layout: default
---

<article class="oyd-page">

  <h1 style="max-width: 1200px; margin: 40px auto;">{{ page.title }}</h1>

  <div class="entry" style="max-width: 1200px; margin: 40px auto;">
    {{ content }}
  </div>

  <div class="oyd-gallery">
    <!-- 2DS -->
    <div class="oyd-gallery-item image">
      <img src="../images/img-2ds.png" />
    </div>
    <div class="oyd-gallery-item">
      <h3>Nintento 2DS and 3DS</h3>
      <p>The closure of Nintendo's eShop and online services revealed an uncomfortable truth: millions of people never really owned the games they paid for. Do you want to know if it's a good idea to hack a 2ds o 3ds? Here are some reasons:</p>
      <ol>
        <li>True ownership through backups and preservation: With the eShop permanently closed, your digital purchases are gone forever if your console breaks. CFW lets you back up games, saves, and system data—meaning you actually own what you paid for, not just a revocable license.</li>
        <li>Region-free access: Games often cost significantly more in certain regions, and some titles never release in others at all. CFW removes these artificial barriers, letting you buy and play games from any region—leveling the playing field regardless of where you live.</li>
        <li>Independence from corporate server shutdowns: When <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/63227/~/announcement-of-discontinuation-of-online-services-for-nintendo-3ds-and-wii-u">Nintendo killed their online services</a>, millions of stock 3DS users lost functionality they paid for. CFW users can connect to community-run alternatives like Pretendo Network, ensuring the device remains fully functional even after the company decides to abandon it.</li>
      </ol>
    
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+2ds&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>You can also take a look on Ebay and other online stores were you can get second-hand tech. For the intention of reporpusing, I'll try not to buying a new one. </li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://3ds.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
      <p>You can follow step by step guides <a href="https://www.youtube.com/watch?v=4UCDZCPnPis">Video Tutorial</a>.</p>
    </div>

    <!-- Wii -->
    <div class="oyd-gallery-item">
      <h3>Nintento Wii</h3>
      <p>The Nintendo Wii is the perfect console for families or any group, as the control mechanics simulate many real-life movements. This <a href="https://pmc.ncbi.nlm.nih.gov/articles/PMC11478887/">Research</a> xplores the benefits of Wii gaming for elderly people.</p> 
      
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+wii&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>You can also take a look on Ebay and other online stores were you can get second-hand tech. For the intention of reporpusing, I'll try not to buying a new one. </li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wii.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
    </div>
    <div class="oyd-gallery-item image"">
      <img src="../images/img-wii.png" />
    </div>

    <!-- WiiU -->
    <div class="oyd-gallery-item image">
      <img src="../images/img-wiiu.png" />
    </div>
    <div class="oyd-gallery-item">
      <h3>Nintento WiiU</h3>
      <p>With 8GB of storage, no eShop (Because <a href="https://en-americas-support.nintendo.com/app/answers/detail/a_id/63227/~/announcement-of-discontinuation-of-online-services-for-nintendo-3ds-and-wii-u">Nintendo killed their online services</a>), and a ticking time bomb in some models' memory chips, the Wii U was practically designed to be modded.</p>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+wii+u&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>You can also take a look on Ebay and other online stores were you can get second-hand tech. For the intention of reporpusing, I'll try not to buying a new one. </li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wiiu.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
    </div>

    <div style="background-color: #FAFAFA ;grid-column: span 2; padding: 3rem;">
      For all the devices above community you can join their community and learn or discuss more through <a href="https://discord.gg/MWxPgEp">Discord</a> and <a href="https://github.com/hacks-guide">Github</a>.
    </div>

    <!-- Ipod -->
     <div class="oyd-gallery-item">
       <h3>Ipod</h3>
       <p>Why should a perfectly functional music player become e-waste just because the company that made it moved on to newer products?</p>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=ipod+5&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>You can also take a look on Ebay and other online stores were you can get second-hand tech. For the intention of reporpusing, I'll try not to buying a new one. </li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://www.instructables.com/How-to-Mod-Your-iPod-555-Gen/" target="_blank">How to Mod Your iPod 555 Gen</a> Article to learn how to mod it. There is a lot of interesting threads and conversations in the <a href="https://www.reddit.com/r/iPodHacks/">r/iPodHacks</a> subreddit.</p>
     </div>
    <div class="oyd-gallery-item image">
      <img src="../images/img-ipod.png" />
    </div>

    <!-- Android -->
    <div class="oyd-gallery-item image">
      <img src="../images/img-android.png" />
    </div>
    <div class="oyd-gallery-item">
      <h3>Android Devices</h3>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li>Instead of trying to buy one online, I'd recommend to talk to friends and family i'd assume someone near you we'll have one that they're not using anymore. </li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wiiu.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
      <p>There's an entire Subreddit <a href="https://www.reddit.com/r/androidafterlife/">/androidafterlife</a></p>
    </div>
  </div>

  <div class="breadcumb-back breadcumb-back--bottom">
    <a href="https://angelato.design/" class="button">
      <p>Explore more of my projects</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
      </svg>
    </a>
  </div>
  
</article>
