---
layout: default
---

<article class="oyd-page">

  <h1 style="max-width: 1200px; margin: 40px auto;">{{ page.title }}</h1>

  <div class="entry" style="max-width: 1200px; margin: 40px auto;">
    {{ content }}
  </div>

  <div class="oyd-gallery" style="display: grid; grid-template-columns: repeat(2, 1fr); margin: 40px 3vw;">
    <!-- 2DS -->
    <div class="oyd-gallery-item image">
      <img src="../images/img-2ds.png" />
    </div>
    <div class="oyd-gallery-item">
      <h3>Nintento 2DS</h3>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+2ds&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>Ebay</li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://3ds.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
    </div>

    <!-- Wii -->
    <div class="oyd-gallery-item">
      <h3>Nintento Wii</h3>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+2ds&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>Ebay</li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wii.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
    </div>
    <div class="oyd-gallery-item image"">
      <img src="../images/img-wii.png" />
    </div>

    <!-- WiiU -->
    <div class="oyd-gallery-item image">
      <img src="../images/img-wiiu.png" />
    </div>
    <div class="oyd-gallery-item">
      <h3>Nintento WiiU</h3>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+2ds&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>Ebay</li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wiiu.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
    </div>

    <div style="background-color: #FAFAFA ;grid-column: span 2; padding: 3rem;">
      For all the devices above community you can join their community and learn or discuss more through <a href="https://discord.gg/MWxPgEp">Discord</a> and <a href="https://github.com/hacks-guide">Github</a>.
    </div>

    <!-- Ipod -->
     <div class="oyd-gallery-item">
       <h3>Ipod</h3>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+2ds&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>Ebay</li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wiiu.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
     </div>
    <div class="oyd-gallery-item image">
      <img src="../images/img-ipod.png" />
    </div>

    <!-- Android -->
    <div class="oyd-gallery-item image">
      <img src="../images/img-android.png" />
    </div>
    <div class="oyd-gallery-item">
      <h3>Android Devices</h3>
      <h4>Where to get one?</h4>
      <p>Since it's an old device, it'll be better and easier to get a second hand item. </p>
      <ul>
        <li><a href="https://es.wallapop.com/search?category_id=24200&keywords=nintendo+2ds&order_by=most_relevance" target="_blank">Wallapop</a></li>
        <li>Ebay</li>
      </ul>
      <h4>Once you have one...</h4>
      <p>Use this <a href="https://wiiu.hacks.guide/" target="_blank">Guide</a> to learn how to hack it.</p>
    </div>
  </div>

  <div class="breadcumb-back breadcumb-back--bottom">
    <a href="https://angelato.design/" class="button">
      <p>Explore more of my projects</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
      </svg>
    </a>
  </div>
  
</article>
