---
layout: default
---

<article class="oyd-page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="gallery" style="display: grid; grid-template-columns: repeat(2, 1fr);">
    <div style="background-color: red;">
      <img src="images/img-2ds.png" />
    </div>
    <div style="background-color: blue;">2</div>

    <div style="background-color: red;">3</div>
    <div style="background-color: blue;">4</div>
  </div>

  <div class="breadcumb-back breadcumb-back--bottom">
    <a href="https://angelato.design/" class="button">
      <p>Explore more of my projects</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
      </svg>
    </a>
  </div>
  
</article>
